/*************************************************
    STILI GENERALI
 *************************************************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'Roboto', sans-serif;
}

/*************************************************
    STILE CONTENITORI
 *************************************************/
/* Wrapper */
#wrapper {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Background */
.parte-verde {
    width: 100%;
    height: 25%;
    background-color: #009688;
}

.parte-grigia {
    width: 100%;
    height: 75%;
    background-color: #dadbd4;
}

/* Contenitore principale */
.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*************************************************
    LEFT SIDE
 *************************************************/
/* Parte di sinistra */
.side-bar {
    width: 40%;
    background-color: #dadbd4;
    border-right: 1px solid lightgrey;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.user {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    flex-grow: 0;
}

img {
    height: 50px;
    border-radius: 50%;
}

.icons {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.icons a {
    color: #b1b1b1;
    margin: 0 10px;
}

.notifiche {
    display: flex;
    align-items: center;
    background-color: #8edafc;
    padding: 8px;
    flex-grow: 0;
}

.icon_notifiche {
    border-radius: 50%;
    padding: 15px;
    background-color: white;
    margin: 0 5px;
}

.fa-bell-slash {
    color: #8edafc;
    font-size: 18px;
}

.right_text {
    margin: 0 8px;
}

.right_text a {
    color: gray;
    opacity: 0.6;
    font-size: 15px;
}

.search_chat {
    flex-grow: 0;
    padding: 8px;
}

.search_chat i {
    color: #b1b1b1;
}

.search_chat input::placeholder {
    font-size: 13px;
}

.chats {
    background-color: white;
    overflow-y: auto;
    flex-grow: 1;
}

.chats li:hover {
    background-color: #eaeaea;
}

/*************************************************
    RIGHT SIDE
 *************************************************/
/* Parte di destra dei messaggi */
.right-side {
    width: 60%;
    background-color: #dadbd4;
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.message_container {
    overflow-y: auto;
    flex-grow: 1;
    padding: 35px;
    background-image: url(Img/bg_chat.png);
}

/* Messaggio inviato Verde */
.msg_spedito {
    border-radius: 10px;
    background-color: #d5f9ba;
    padding: 10px;
    position: relative;
}

/* Messaggio ricevuto Bianco */
.msg_ricevuto {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    bottom: 0;
    right: 5px;
}

.send_message {
    display: flex;
    width: 100%;
    padding: 8px;
}

.send_message .left {
    width: 10%;
    justify-content: center;
}

.send_message .middle {
    width: 80%;
    border: none;
    border-radius: 4px;
    padding-left: 15px;
}

.send_message .middle::placeholder {
    font-size: 13px;
}

.send_message .right {
    width: 10%;
    justify-content: center;
}

.fa-microphone,
.fa-face-smile {
    color: #6c7374;
}

/*************************************************
    COLORS
 *************************************************/
.light-gray {
    background-color: #eaeaea;
}

.ms_color-black {
    color: black;
}

.ms_bg-light {
    background-color: #f8f9fa;
}

/*************************************************
    UTILITIES
 *************************************************/
.ms_fs-12_opacity03 {
    font-size: 12px;
    opacity: 0.3;
}

/*************************************************
    MEX DI BENVENUTO ALLA CHAT NON SELEZIONATA
 *************************************************/
.messaggio_di_benvenuto p {
    padding: 8px;
    margin: 0;
    text-align: center;
    font-size: large;
}

/*************************************************
    SPLASH PAGE
 *************************************************/
.splash_page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    color: white;
}

.splash_page small {
    color: black;
}

/*************************************************
    DARK MODE & LIGHT MODE
 *************************************************/
/* Dark mode */
.dark-mode {
    background-color: #333;
    color: black;
}

/* Dark mode setup all'interno della chat corrente */
.dark-mode .message_container {
    background-image: url(img/bg_chat-dark.png);
    background-color: #333;
}

/* Dark mode setup per le chat a sinistra & Sofia */
.dark-mode .chats ul,
.dark-mode .light-gray,
.dark-mode .search_chat.ms_bg-light {
    color: white;
    background: #333;
}

/* Dark mode setup per il bg sotto grigio */
.dark-mode .parte-grigia {
    background-color: gray;
}

/* Dark mode setup per il bg sotto verde*/
.dark-mode .parte-verde {
    background-color: rgba(0, 150, 135, 0.4);
}

/* Dark mode icon in alto a destra */
.dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    color: black;
    z-index: 200;
}